body {
  font-family: "Sniglet", system-ui;
  background-color: #f4f4f4;
  padding: 10px;
  background-image: url(./img/D\ +\ M\ =\ N.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#task-manager {
  background: snow;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-form {
  margin-bottom: 20px;
}

#task-input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border-radius: 5px;
  border-color: #ffb7d7;
  background-color: unset;
  font-size: 15px;
  font-family: 'Sniglet';
}

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  background: rgba(255, 183, 215, 0.5);
  padding: 12px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: larger;
}

#submit-button {
  background-color: rgba(255, 183, 215, 0.5);
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-family: 'Sniglet';
  font-size: 18px;
}

#toggle-theme-btn {
  position: relative;
  width: 97px;
  height: 30px;
  background: radial-gradient(circle, rgba(255, 226, 237, 1) 0%, rgba(255, 183, 215, 1) 100%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

#toggle-theme-btn::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#toggle-theme-btn.active {
  background: radial-gradient(circle, rgba(251, 156, 192, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#toggle-theme-btn.active::before {
  transform: translateX(65px);
}


/* Dark theme styles */
body.dark-theme {
  background-image: url(./img/_ğ˜½ğ™Šğ™ğ™‰ğ™‹ğ™„ğ™‰ğ™†_\ announcement\ trailer.jpg);
  color: #fff;
}

.dark-theme #task-manager {
  background: #222;
  color: #fff;
}

.dark-theme #task-list li {
  background: rgba(255, 183, 215, 0.5)
}

.dark-theme #task-input{
  color: #fff;
}